bin/*
gen/*
/bin/
/gen/

bin/classes/suggestcorp/suggestible/CardActivity.class

bin/classes/suggestcorp/suggestible/MoreInfoActivity.class

bin/classes/suggestcorp/suggestible/UndeleteActivity.class

.classpath


.classpath
